<footer class="bg-dark text-center text-white">
    <div class="container p-4">
      <section id="Contact" class="mb-4">
            <h3>Contact me</h3>
        <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="mailto:estebanm3j@gmail.com" role="button"
          ><i class="bi bi-google"></i></a>
  
        <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/estm3j/" role="button"
          ><i class="bi bi-linkedin"></i></a>
  
        <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="https://github.com/3xiic" role="button"
          ><i class="bi bi-github"></i></a>
      </section>
      <section class="mb-4">
        <p>
          Computer science student at Universidad el Bosque, competitive programmer, front-end and back-end developer.
        </p>
      </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      Jaime Esteban Mejia Arevalo
    </div>
  </footer>