<section id="experience" class="py-2">
  <div class="container">
    <section class="my-5">
      <h2 class="h1-responsive font-weight-bold text-center my-5">Experience</h2>
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              EDUCATION
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <div class="section">
                <div class="education-entry">
                  <div class="entry-title">Instituto Santa Ana Luz del Carmen, Bogotá, DC (2015-2020)</div>
                  <div class="entry-details my-4">
                    <p><strong>Degree:</strong> Academic High School Diploma</p>
                    <p><strong>Graduation:</strong> November 2020</p>
                  </div>
                </div>
                <div class="education-entry my-4">
                  <div class="entry-title">Universidad El Bosque, Bogotá, DC (2022 - Present)</div>
                  <div class="entry-details my-4">
                    <p><strong>Program:</strong> Systems Engineering (6th semester)</p>
                    <p><strong>GPA:</strong> 4.0/5.0</p>
                    <p><strong>Role:</strong> Representative of the Competitive Programming Group</p>
                  </div>
                </div>
              </div>
              <div class="section py-4">
                <div class="section-title"><strong> Software and Hardware Management </strong></div>
                <div class="management-entry">
                  <p>These sections highlight a solid foundation in academic achievements and practical experience,
                    reflecting a commitment to excellence in both educational and technical domains.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
              COMPETITIVE EXPERIENCE
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <div class="section">
                <div class="section-title">Participation in National and International Events</div>
                <ul class="event-list">
                  <li>1st Internal Programming Marathon, Universidad El Bosque</li>
                  <li>RPC 7 Rounds 2022</li>
                  <li>ACIS CCPL 3 Rounds 2022</li>
                  <li>Google Kickstart Round F 2022</li>
                  <li>36th National Programming Marathon ACIS-REDIS 2022</li>
                  <li>RPC 3 Rounds 2023</li>
                  <li>ACIS CCPL 2 Round 2023</li>
                  <li>2nd Internal Programming Marathon, Universidad El Bosque</li>
                  <li>37th National Programming Marathon ACIS-REDIS 2022</li>
                  <li>3rd Internal Programming Marathon, Universidad El Bosque</li>
                  <li>RPC 2 Rounds 2024</li>
                  <li>ACIS CCPL 1 Round 2024</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
              WORK EXPERIENCE
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <div class="section">
                <div class="entry-title">(2021-2023) PATITAS ON BOARD, Bogotá, DC</div>
                <div class="entry-details my-4">
                  <p><strong>Developer:</strong> (Web Programming, Bug Fixing, Application Optimization)</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
              LANGUAGES
            </button>
          </h2>
          <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <div class="section">
                <ul class="event-list">
                  <li><strong>Spanish:</strong> Native</li>
                  <li><strong>English:</strong> B1+ </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
              PERSONAL REFERENCES
            </button>
          </h2>
          <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <div class="section">
                <ul class="event-list">
                  <li>
                    <div class="entry-title">Andres Felipe Espitia Rodriguez</div>
                    <div class="entry-details my-4">
                      <p><strong>Project Manager:</strong> UEBFA</p>
                      <p><strong>Contact Number:</strong> +57 311 5214670</p>
                    </div>
                  </li>
                  <li>
                    <div class="entry-title">Diego Fernando Rodriguez Castañeda</div>
                    <div class="entry-details my-4">
                      <p><strong>Teacher:</strong> Universidad el Bosque</p>
                      <p><strong>Contact Number:</strong> +57 300 3653646</p>
                    </div>
                  </li>
                  <li>
                    <div class="entry-title">Paula Geraldine Monsalve Arevalo</div>
                    <div class="entry-details my-4">
                      <p><strong>C.E.O</strong> PATITAS ON BOARD</p>
                      <p><strong> HR manager</strong></p>
                      <p><strong>Contact Number:</strong> +57 305 7470223</p>
                    </div>
                  </li>
                  <li>
                    <div class="entry-title">Jaime Humberto Mejia Bermudez</div>
                    <div class="entry-details my-4">
                      <p><strong>OP Manager</strong> OUTSOURCING S.A</p>
                      <p><strong>Contact Number:</strong> +57 310 3264357</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>