<section id="myskills" class="py-2">
  
    <div class="container">



      <section class="my-5">

        <h2 class="h1-responsive font-weight-bold text-center my-5">My Skills</h2>

        <p class="lead grey-text text-center w-responsive mx-auto mb-5">Throughout my university career and as a competitive programmer, I have learned several programming languages. However, my strength will always be Java, especially with frameworks like Spring Boot.</p>

        <div class="row">
               
          <div class="col-md-6">
                <h3 class="py-4">Languages</h3>
            <div class="row mb-5">
                
              <div class="col-2">
                <img  width="100%" src="/images/javaLogo.png" alt="">
              </div>
              
              <div class="col-10">
                <h5 class="font-weight-bold mb-3">Java</h5>
                <p class="grey-text">I can easily operate libraries and do some advance stuff as well</p>
                <h6>Progress:</h6><div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar" style="width: 85%"> 85%</div>
                </div>
              </div>

            </div>
            
            <div class="row mb-5">

              <div class="col-2">
                <img  width="100%" src="/images/jsLogo.png" alt="">
              </div>
              
              <div class="col-10">
                <h5 class="font-weight-bold mb-3">JavaScript</h5>
                <p class="grey-text">I created some sites using Javascript and can use it for web developmente</p>
                <h6>Progress:</h6><div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar" style="width: 65%">65%</div>
                </div>
              </div>

            </div>
            
            <div class="row  mb-5">

              <div class="col-2">
                <img  width="100%" src="/images/pythonLogo.png" alt="">
              </div>
              
              <div class="col-10">
                <h5 class="font-weight-bold mb-3">Python</h5>
                <p class="grey-text mb-md-0">I have good knowledge of their libraries and can develop several applications with it. </p>
                  <h6>Progress:</h6><div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar" style="width: 70%">70%</div>
                </div>
              </div>

            </div>
            <div class="row mb-5">
                
                <div class="col-2">
                  <img  width="100%" src="/images/tsLogo.png" alt="">
                </div>
                
                <div class="col-10">
                  <h5 class="font-weight-bold mb-3">TypeScript</h5>
                  <p class="grey-text">I recently started learning it, I have developed some web pages with it</p>
                  <h6>Progress:</h6><div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                      <div class="progress-bar" style="width: 45%">45%</div>
                  </div>
                </div>
  
              </div>
              <div class="row mb-5">
                
                <div class="col-2">
                  <img  width="120%" src="/images/KotlinLogo.png" alt="">
                </div>
                
                <div class="col-10">
                  <h5 class="font-weight-bold mb-3">Kotlin</h5>
                  <p class="grey-text">I'm taking the time to learn it, I can make some basic applications</p>
                  <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                      <div class="progress-bar" style="width: 30%">30%</div>
                  </div>
                </div>
  
              </div>
        
          </div>

          <div class="col-md-6">
            <h3 class="py-4">Frameworks</h3>
            <div class="row mb-5">

              <div class="col-2">
                <img  width="120%" src="/images/angularLogo.png" alt="">
              </div>

              <div class="col-10">
                <h5 class="font-weight-bold mb-3">Angular</h5>
                <p class="grey-text">I can develop some web pages using this framework without any problem.</p>
                <h6>Progress:</h6><div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar" style="width: 40%">40%</div>
                </div>
              </div>

            </div>

            <div class="row mb-5">

              <div class="col-2">
                <img  width="100%" src="/images/bootsLogo.png" alt="">
              </div>

              <div class="col-10">
                <h5 class="font-weight-bold mb-3">Bootstrap</h5>
                <p class="grey-text">I have used it to develop my web applications and it has been very useful</p>
                <h6>Progress:</h6><div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar" style="width: 70%">70%</div>
                </div>
              </div>
            </div>

            <div class="row mb-5">

              <div class="col-2">
                <img  width="100%" src="/images/primeLogo.png" alt="">
              </div>

              <div class="col-10">
                <h5 class="font-weight-bold mb-3">Primefaces</h5>
                <p class="grey-text mb-0">I have used it mainly to create web pages with JSF, making the process much easier.</p>
                <h6>Progress:</h6><div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar" style="width: 85%">85%</div>
                </div>
              </div>
            </div>
            <div class="row mb-5">
                
                <div class="col-2">
                  <img  width="100%" src="/images/springLogo.png" alt="">
                </div>
                
                <div class="col-10">
                  <h5 class="font-weight-bold mb-3">SpringBoot</h5>
                  <p class="grey-text">I have used it to develop the back-end of the vast majority of web applications that I have developed, being quite versatile in it.</p>
                  <h6>Progress:</h6><div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                      <div class="progress-bar" style="width: 85%">85%</div>
                  </div>
                </div>
  
              </div>
              <div class="row mb-5">
                
                <div class="col-2">
                  <img  width="100%" src="/images/djangoLogo.jpg" alt="">
                </div>
                
                <div class="col-10">
                  <h5 class="font-weight-bold mb-3">Django</h5>
                  <p class="grey-text">I have used it to develop the back-end of some web applications</p>
                  <h6>Progress:</h6><div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                      <div class="progress-bar" style="width: 40%">40%</div>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <h3 class="text-center my-5">Databases</h3>
            <div class="row">
                <div class="col-md-6 text-left">
                    <div class="row mb-5">
                        <div class="col-2">
                            <img width="120%" src="/images/mongoLogo.png" alt="">
                        </div>
                        <div class="col-10">
                            <h5 class="font-weight-bold mb-3">MongoDB</h5>
                            <p class="grey-text">I can manage databases in MongoDB, manipulate documents for back-end development.</p>
                            <h6>Progress:</h6><div class="progress " role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar" style="width: 65%">65%</div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6 text-right">
                    <div class="row mb-5">
                        <div class="col-2">
                            <img width="120%" src="/images/mysqlLogo.png" alt="">
                        </div>
                        <div class="col-10">
                            <h5 class="font-weight-bold mb-3">MySql</h5>
                            <p class="grey-text">I can manage databases in MySQL or make backend for websites.</p>
                            <h6>Progress:</h6> <div class="progress" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar" style="width: 70%">70%</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 text-left">
                    <div class="row mb-5">
                        <div class="col-2">
                            <img width="120%" src="/images/oracleLogo.png" alt="">
                        </div>
                        <div class="col-10">
                            <h5 class="font-weight-bold mb-3">Oracle</h5>
                            <p class="grey-text">I can manage databases in Oracle, perform queries within the database.</p>
                            <h6>Progress:</h6> <div class="progress" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar" style="width: 45%">45%</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 text-right">
                    <div class="row mb-5">
                        <div class="col-2">
                            <img width="120%" src="/images/postgresLogo.png" alt="">
                        </div>
                        <div class="col-10">
                            <h5 class="font-weight-bold mb-3">Postgres</h5>
                            <p class="grey-text">I can make queries in the database and perform replication of it.</p>
                            <h6>Progress:</h6> <div class="progress" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar" style="width: 30%">30%</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>