<section id="calc" class="py-2">
<div class="overlay"></div>
<div class="overlay-2">
  <h2 class="title">Calculadora de IP</h2>
  <div class="inputbox ip" >
    <input [(ngModel)]="ip" placeholder="Ej: 192.168.1.0" required="required"  />
    <span>IP: </span>
    <i></i>
  </div>
  <div class="inputbox submask" >
      <input [(ngModel)]="mask" placeholder="Ej: 255.255.255.0" required="required"  />
      <span>Mascara de red: </span>
      <i></i>
    </div>

  <button class="btn-calculate" (click)="calculateIpData()">Calcular</button>

</div>
<img class="img" src="/images/fondo.jpg" alt="">
    <div *ngIf="networkIp">
    <div class="overlay-3"></div>
      <h3 class="title-result">Resultados</h3>
      <p class="results-1"><strong>IP de Red:</strong> {{ networkIp }}, <strong>IP de Broadcast:</strong> {{ broadcastIp }}, <strong>Total de Hosts Útiles:</strong> {{ totalHosts }}, <strong>Rango de IPs Útiles:</strong> {{ rangeStart }} - {{ rangeEnd }}</p>
      <p class="results-2"><strong>Clase de IP:</strong> {{ ipClass }}, <strong>IP {{ isPrivate }}:</strong> {{ isPrivate }}</p>
      <p class="binary-title">IP EN BINARIO </p>
      <div class="binary-res">
        <span>{{ fullBinaryIp }}</span>
      </div>
      <p class="red-title">PORCIÓN DE RED<p>
      <div class="red-res">
        <span>{{ networkPart }}</span>
      </div>
      <p class="host-title">PORCIÓN DE HOST<p>
      <div class="host-res">
        <span>{{ hostPart }}</span>
      </div>
    </div>
</section>    
   