<section id="projects" class="py-2">
  <div class="container">
    <section class="my-5">
      <h2 class="h1-responsive font-weight-bold text-center my-5">My projects</h2>
      <div class="row my-4">
        <div class="col-md-4">
          <div class="card" style="width: 25rem;">
            <div id="carouselExample" class="carousel slide">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="/images/workoLogin.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="/images/workoSi.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="/images/workoPass.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="/images/workoHome.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="/images/workoTrain.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="/images/workoRut.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="/images/workoRutinas.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="/images/workoProfile.png" class="d-block w-100" alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            <div class="card-body">
              <h5 class="card-title"><strong>WORKO</strong></h5>
              <p class="card-text"> is an app designed to help you follow your gym routines and
                workouts. It offers a wide variety of routines and exercises, adapting to different levels and training
                goals.</p>

              <p>The application is developed using <strong>Spring Boot</strong> for the back-end. The back-end is
                composed of multiple Spring Boot instances connected to their respective databases and a Spring Facade
                that connects to the front-end and distributes data to the other Spring Boot services. The front-end is
                built with<strong> JSF (JavaServer Faces)</strong> . For data management,<strong> Worko</strong>
                utilizes four databases distributed between <strong> MongoDB</strong> and <strong> MySQL</strong> .</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <img
                  src="https://img.shields.io/badge/Springboot-Green?style=for-the-badge&logo=Spring&labelColor=white&color=green"
                  alt="">
                <img src="https://img.shields.io/badge/JSF-red?style=for-the-badge" alt="">
                <img src="https://img.shields.io/badge/Primefaces-darkblue?style=for-the-badge&logo=Primefaces" alt="">
                <img src="https://img.shields.io/badge/HTML5-white?style=for-the-badge&logo=HTML5" alt="">
                <img src="https://img.shields.io/badge/CSS-blue?style=for-the-badge&logo=CSS3" alt="">
            </ul>
            <div class="card-body text-center">
              <h6>Github link</h6>
              <a mdbRipple class="btn btn-outline-dark btn-floating m-1" href="https://github.com/3xiic/Worko"
                role="button"><i class="bi bi-github"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" style="width: 25rem;">
            <div id="carousel2" class="carousel slide">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="/images/trDarkMenu.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="/images/trDarkGame.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="/images/trLightEng.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="/images/trLightGame.png" class="d-block w-100" alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carousel2" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carousel2" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            <div class="card-body">
              <h5 class="card-title"><strong>Connect Four</strong></h5>
              <p class="card-text"> is a game inspired by the traditional "Connect Four".
                It offers various customization options, including the ability to switch between light and dark themes,
                as well as the option to toggle the language between English and Spanish. Players can enjoy the game in
                1v1 mode or challenge the CPU. The game is designed using <strong>Java GUI</strong></p>

            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-center">
                <img src="https://img.shields.io/badge/JAVA-orange?style=for-the-badge&logo=Java" alt="">
            </ul>
            <div class="card-body text-center">
              <h6>Github link</h6>
              <a mdbRipple class="btn btn-outline-dark btn-floating m-1"
                href="https://github.com/3xiic/ConnectFourJavaGUI" role="button"><i class="bi bi-github"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" style="width: 25rem;">
            <div id="carousel3" class="carousel slide">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="/images/unoMenu.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="/images/Unogame1.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="/images/unogame2.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="/images/unoBotcard.png" class="d-block w-100" alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carousel3" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carousel3" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            <div class="card-body">
              <h5 class="card-title"><strong>UNO Teacher</strong></h5>
              <p class="card-text"> is an application that teaches you how to play the
                traditional UNO card game while you play. It features a friendly instructor robot named D.O.S., who
                guides you through the rules and strategies of the game. The application is designed using <strong>Java
                  GUI</strong>.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-center">
                <img src="https://img.shields.io/badge/JAVA-orange?style=for-the-badge&logo=Java" alt="">
            </ul>
            <div class="card-body text-center">
              <h6>Github link</h6>
              <a mdbRipple class="btn btn-outline-dark btn-floating m-1"
                href="https://github.com/3xiic/UNOTeacherJavaGUI" role="button"><i class="bi bi-github"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card" style="width: 25rem;">
            <div id="carousel4" class="carousel slide">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="/images/Entrecol.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="/images/EntreEmpleados.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="/images/EntreGenero.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="/images/EntreNomina.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="/images/EntrePension.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="/images/EntreNovedades.png" class="d-block w-100" alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carousel4" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carousel4" data-bs-slide="next">
                <span class="carousel-control-next-icon-dark" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            <div class="card-body">
              <h5 class="card-title"><strong>EntreCol+</strong></h5>
              <p class="card-text"> 
                 is a web application designed for a company to comprehensively manage its employees and resources. It offers functionalities such as employee management, including salaries, pensions, updates, and <strong>EPS (Health Service Provider)</strong>, as well as a system for managing entertainment inventories, like movies. 
              </p>
              <p class="card-text"> Additionally, it features various modules and interactive charts to facilitate the understanding and analysis of information. The application also includes a login system and an administrator account to ensure security and proper access. This combination of features makes <strong>EntreCol+</strong>  a robust and efficient tool for business administration.</p>

            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <img src="https://img.shields.io/badge/Springboot-Green?style=for-the-badge&logo=Spring&labelColor=white&color=green" alt="">
                <img src="https://img.shields.io/badge/JSF-red?style=for-the-badge" alt="">
                <img src="https://img.shields.io/badge/Primefaces-darkblue?style=for-the-badge&logo=Primefaces" alt="">
                <img src="https://img.shields.io/badge/HTML5-white?style=for-the-badge&logo=HTML5" alt="">
                <img src="https://img.shields.io/badge/CSS-blue?style=for-the-badge&logo=CSS3" alt="">

            </ul>
            <div class="card-body text-center">
              <h6>Github link</h6>
              <a mdbRipple class="btn btn-outline-dark btn-floating m-1" href="https://github.com/3xiic/EntreCol-"
                role="button"><i class="bi bi-github"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card" style="width: 25rem;">
            <div id="carousel5" class="carousel slide">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="/images/clientMenu.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="/images/clientCursos.jpg" class="d-block w-100" alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carousel5"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carousel5"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            <div class="card-body">
              <h5 class="card-title"><strong>Client+</strong></h5>
              <p class="card-text"> is a web application designed to manage clients and visualize available courses in the database. Developed with a <strong>Spring boot backend</strong>  and an <strong>Angular frontend</strong> , it offers an intuitive and efficient interface for managing client information and accessing real-time course availability. This combination of technologies ensures optimal performance and a smooth user experience.</p>

            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <img
                  src="https://img.shields.io/badge/Springboot-Green?style=for-the-badge&&labelColor=white&color=green"
                  alt="">
                <img src="https://img.shields.io/badge/Angular-red?style=for-the-badge&logo=Angular" alt="">
                <img src="https://img.shields.io/badge/Bootstrap-violet?style=for-the-badge&logo=Bootstrap" alt="">
                <img src="https://img.shields.io/badge/HTML5-white?style=for-the-badge&logo=HTML5" alt="">
                <img src="https://img.shields.io/badge/CSS-blue?style=for-the-badge&logo=CSS3" alt="">
                <img src="https://img.shields.io/badge/Typescript-white?style=for-the-badge&logo=Typescript" alt="">

            </ul>
            <div class="card-body text-center">
              <h6>Github link</h6>
              <a mdbRipple class="btn btn-outline-dark btn-floating m-1" href="https://github.com/3xiic/SpringAngularApp"
                role="button"><i class="bi bi-github"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" style="width: 25rem;">
            <div id="carousel6" class="carousel slide">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="/images/dress1.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="/images/dress2.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="/images/dress3.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="/images/dress4.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="/images/dress5.png" class="d-block w-100" alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carousel6"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carousel6"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            <div class="card-body">
              <h5 class="card-title"><strong>DressCode</strong></h5>
              <p class="card-text"> <strong>Worko</strong> is an app designed to help you follow your gym routines and
                workouts. It offers a wide variety of routines and exercises, adapting to different levels and training
                goals.</p>

              <p>The application is developed using <strong>Spring Boot</strong> for the back-end. The back-end is
                composed of multiple Spring Boot instances connected to their respective databases and a Spring Facade
                that connects to the front-end and distributes data to the other Spring Boot services. The front-end is
                built with<strong> JSF (JavaServer Faces)</strong> . For data management,<strong> Worko</strong>
                utilizes four databases distributed between <strong> MongoDB</strong> and <strong> MySQL</strong> .</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <img
                  src="https://img.shields.io/badge/Springboot-Green?style=for-the-badge&logo=Spring&labelColor=white&color=green"
                  alt="">
                <img src="https://img.shields.io/badge/JSF-red?style=for-the-badge" alt="">
                <img src="https://img.shields.io/badge/Primefaces-darkblue?style=for-the-badge&logo=Primefaces" alt="">
            </ul>
            <div class="card-body text-center">
              <h6>Github link</h6>
              <a mdbRipple class="btn btn-outline-dark btn-floating m-1" href="https://github.com/3xiic/Worko"
                role="button"><i class="bi bi-github"></i></a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>